html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}
a {
    color: brown;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}
footer {
    text-align: center;
    font-size: 0.8rem;
}
header {
    display: flex;
    justify-content: center;
}
.rightheader {
    margin-top: 2rem;

}
.rightheader h1 {
    color: #DA0090;
}
nav ul {
    border-top: 2px solid #DA0090;
    border-bottom: 2px solid red;
    list-style-type: none;
    display: flex;
    justify-content: center;
}
nav li {
    margin: 0.7rem 2rem;
}
article {
    display: flex;
    margin-top: 3rem;
}
section {
    padding-bottom: 1rem;
    border-bottom: 2px solid #DA0090;
}
footer {
    border-top: 2px solid brown;
    display: flex;
    flex-flow: column;
    margin: 1rem 0;
}
footer p {
    text-align: center;
    margin-left: 2.5rem;
}
footer ul {
    list-style-type: none;
    display: flex;
    justify-content: center;

}
article img {
    margin-right: 1rem;
    border-radius: 25px;
}